source https://api.nuget.org/v3/index.json

framework: netstandard2.1
#storage: none

nuget FSharp.Core 4.7

nuget Feliz
nuget Feliz.Bulma
nuget Feliz.Bulma.ViewEngine
nuget Feliz.ViewEngine
nuget Felizia
