.fable/
.fake/
.vs/
obj/
bin/
packages/
paket-files/
node_modules/
release.cmd
release.sh
.idea/
*.DotSettings.user
deploy
.vscode
.editorconfig
src/shared/markdown/activities/Images
.DS_Store
symbolCache.db
.ionide/

app/src/client/public/gen
src/client/public/gen

app/src/client/public/js
src/client/public/js/
