group Server
    source https://api.nuget.org/v3/index.json
    source https://ci.appveyor.com/nuget/fsharp-formatting

    framework: netcoreapp3.1
    #storage: none

    nuget FSharp.Core
    nuget Microsoft.AspNetCore
    nuget Microsoft.AspNetCore.Antiforgery
    nuget Microsoft.AspNetCore.StaticFiles
    nuget Microsoft.AspNetCore.WebSockets
    nuget Microsoft.AspNetCore.HttpsPolicy

    nuget Thoth.Json.Giraffe  ~> 2
    nuget Thoth.Json.Net ~> 4
    nuget Feliz.ViewEngine
    nuget Feliz.Bulma.ViewEngine
    nuget Giraffe
    nuget Giraffe.SerilogExtensions
    nuget Serilog.AspNetCore
    nuget Serilog.Sinks.Console
    nuget Serilog.Sinks.ColoredConsole
    nuget FSharp.Literate
    nuget Legivel

group Client
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.1
    #storage: none

    nuget Fable.Browser.Navigator
    nuget Fable.Core ~> 3
    nuget Fable.Elmish ~> 3
    nuget Fable.Elmish.Debugger ~> 3
    nuget Fable.Elmish.React ~> 3
    nuget Fable.Elmish.HMR ~> 4
    nuget Fable.Elmish.Browser  ~> 3
    nuget Fable.Fetch ~> 2
    nuget Fable.React ~> 6
    nuget Fable.FontAwesome.Free ~> 2
    nuget Fable.SimpleJson
    nuget Feliz ~> 1
    nuget Feliz.Bulma
    nuget Feliz.Router

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    #storage: none

    nuget FSharp.Core 4.3.4 // https://github.com/fsharp/FAKE/issues/2001
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Runtime

